In [1]:
import pandas as pd

### User info

In [2]:
userInfo = pd.read_csv("UserInfo.csv", engine='python', encoding='utf-8', on_bad_lines='skip', index_col=False)

userInfo.head()

,Unnamed: 0,Id,UserName,DisplayName,RegisterDate,PerformanceTier,OrganizationId,JoinDate,Name,Degree2018,...,OutDegree2019,Degree2020,InDegree2020,OutDegree2020,Degree2021,InDegree2021,OutDegree2021,Degree2022,InDegree2022,OutDegree2022
0,0,1,kaggleteam,Kaggle Team,03/24/2011,5,322,12/14/2016,Defence Science & Technology Laboratory,14,...,0.000000,70,0.000883,0.000000,75,0.000844,0.000000,76,0.000807,0.000000
1,1,368,antgoldbloom,Anthony Goldbloom,01/20/2010,2,8,09/27/2016,Hacker News,97,...,0.000032,344,0.004300,0.000038,412,0.004582,0.000056,439,0.004599,0.000064
2,2,421,dremovd,Dmitry Dryomov,02/28/2010,3,642,03/20/2019,OpenDataScience [ods.ai],3,...,0.000000,25,0.000315,0.000000,30,0.000338,0.000000,33,0.000329,0.000021
3,3,993,benhamner,Ben Hamner,05/31/2010,3,4,09/23/2016,Kaggle,404,...,0.000321,846,0.010415,0.000252,914,0.010043,0.000248,936,0.009698,0.000244
4,4,2505,jeffmoser,Jeff Moser,08/21/2010,5,4,09/23/2016,Kaggle,22,...,0.000032,36,0.000429,0.000025,43,0.000462,0.000023,44,0.000446,0.000021

### Dataset votes

In [3]:
datasetVotes = pd.read_csv("DatasetVotes.csv", engine='python', encoding='utf-8', on_bad_lines='skip', index_col=False)
datasetVotes.rename(columns={"UserName": "FollowingUserName"})
datasetVotes['VoteDate'] = pd.to_datetime(datasetVotes['VoteDate'], format='%m/%d/%Y')

datasetVotes.head()

      Id  UserId  DatasetVersionId   VoteDate
0  18784  554130               131 2017-03-22
1  18820  982497              1852 2017-03-22
2  18857  425159              1854 2017-03-23
3  18861  968957              1854 2017-03-23
4  18864  983850              1854 2017-03-23

### Dataset Version

In [4]:
datasetVersions = pd.read_csv("DatasetVersions.csv", engine='python', encoding='utf-8', on_bad_lines='skip', index_col=False)
datasetVersions = datasetVersions[datasetVersions.Id.apply(lambda x: x.isnumeric())]
datasetVersions['Id'] = datasetVersions['Id'].astype(float).astype(int)

datasetVersions = datasetVersions[datasetVersions.DatasetId.apply(lambda x: x.isnumeric())]
datasetVersions['DatasetId'] = datasetVersions['DatasetId'].astype(float).astype(int)

datasetVersions

,Id,DatasetId,DatasourceVersionId,CreatorUserId,LicenseName,CreationDate,VersionNumber,Title,Slug,Subtitle,Description,VersionNotes,TotalCompressedBytes,TotalUncompressedBytes
0,17,17,17,1,CC BY-NC-SA 4.0,01/07/2016 00:38:08,1,Twitter US Airline Sentiment,twitter-airline-sentiment,Analyze how travelers in February 2015 express...,*This data originally came from [Crowdflower's...,Initial release,NaN,NaN
1,19,19,19,1,CC0: Public Domain,01/12/2016 00:33:31,1,Iris Species,iris,Classify iris plants into three species in thi...,The Iris dataset was used in Fisher's classic ...,Initial release,NaN,NaN
2,30,26,30,1,CC BY-SA 3.0,03/08/2016 22:41:02,1,The History of Baseball,the-history-of-baseball,A complete history of major league baseball st...,Baffled why your team traded for that 34-year-...,Initial release,NaN,NaN
3,32,28,32,1,CC0: Public Domain,03/10/2016 04:41:24,1,Death in the United States,mortality,Learn more about the leading causes of death f...,Every year the [CDC](http://www.cdc.gov/) rele...,Initial release,NaN,NaN
4,102,53,102,627861,"Database: Open Database, Contents: © Original ...",06/03/2016 00:27:28,1,2016 New Coder Survey,2016-new-coder-survey-,"A survey of 15,000+ people who are new to soft...",### Context\n\n[Free Code Camp](https://www.fr...,Initial release,10079792.0,10079792.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749513,4697949,579969,4760366,1014468,Other (specified in description),12/09/2022 20:11:22,925,COVID-19 US County JHU Data & Demographics,covid19-us-county-jhu-data-demographics,Johns Hopkins reported cases & deaths together...,### Context\n\nThe United States have recently...,Data Update 2022/12/09,0.0,0.0
749514,4698142,1930941,4760559,7908726,Data files © Original Authors,12/09/2022 21:08:24,278,The Enron Email Dataset📩📪,maildataset,📪Spam Mail Prediction | Machine Leaning,The Enron email dataset contains approximately...,Automatic Update 2022-12-09,0.0,0.0
749515,4698397,2712266,4760822,1529623,Unknown,12/09/2022 22:39:38,10,TFRECG2NetDataset2,tfrecg2netdataset2,NaN,NaN,Data Update 2022/12/09,0.0,0.0
749516,4698494,1236469,4760920,2747746,CC0: Public Domain,12/09/2022 23:05:08,576,Italian Vaccination Progress,italian-vaccination,"Vaccination for COVID-19 in Italy by region, a...",## Context\n\nThe vaccination campaign in Ital...,Daily Update,0.0,0.0
749517,4698577,2112152,4761006,5725458,Unknown,12/09/2022 23:26:29,2,RSNA_ICH_Dataset,rsna-ich-dataset,NaN,NaN,Data Update 2022/12/09,0.0,0.0

In [5]:
datasets = pd.read_csv("Datasets.csv", engine='python')

datasets.head()

,Id,CreatorUserId,OwnerUserId,OwnerOrganizationId,CurrentDatasetVersionId,CurrentDatasourceVersionId,ForumId,Type,CreationDate,LastActivityDate,TotalViews,TotalDownloads,TotalVotes,TotalKernels
0,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,556331,77206,948,439
1,19,1,NaN,7.0,420.0,420.0,997,2,01/12/2016 00:33:31,02/06/2018,1350146,344390,3170,5986
2,26,553913,553913.0,NaN,793501.0,815299.0,1110,2,03/08/2016 22:41:02,02/05/2018,72166,9977,271,143
3,28,1132983,NaN,223.0,3144.0,3144.0,1116,2,03/10/2016 04:37:43,02/06/2018,165689,18573,319,195
4,53,627861,NaN,621.0,102.0,102.0,1318,2,06/03/2016 00:27:28,02/04/2018,52292,5045,92,155

### Filters

##### Values to filter the users:

In [6]:
top = 20
filterMetric = "InDegree"
years = range(2018, 2023)

### Genereting and saving top users/datasets over time

In [7]:
def getTopUsers(year, nTop, filterMetric, userInfo):
  userInfo = userInfo.sort_values(by=[filterMetric + str(year)], ascending=False)
  topUsers = userInfo[["Id", "UserName", "DisplayName",	"RegisterDate",	"PerformanceTier", "OrganizationId", "JoinDate", "Name"]].head(nTop)
  
  topUsers = topUsers.rename(columns={"Id": "UserId"})

  return topUsers

In [8]:
def getTopDatasetFromUsers(year, datasetVotes, topUsers, datasets, datasetVersions):
  datasetVotes = datasetVotes[(datasetVotes['VoteDate'] < (str(year) + '-01-01'))]

  topDatasets = pd.merge(datasetVotes, topUsers, on="UserId", how="inner")

  topDatasets = pd.merge(topDatasets[["DatasetVersionId"]], datasetVersions, left_on="DatasetVersionId", right_on="Id", how="inner")

  topDatasets = pd.merge(topDatasets[["DatasetId"]], datasets, left_on="DatasetId", right_on="Id")

  topDatasets = topDatasets[["Id", "TotalViews",	"TotalDownloads",	"TotalVotes",	"TotalKernels"]]

  return topDatasets

In [9]:
for year in years:
  topUsers = getTopUsers(year, top, filterMetric, userInfo)

  topDatasets = getTopDatasetFromUsers(year, datasetVotes, topUsers, datasets, datasetVersions)
  
  topUsers.to_csv('Top' + str(top) + 'Users' + str(year) + '.csv')
  topDatasets.to_csv('TopDatasets' + str(year) + '.csv')