In [1]:
import pandas as pd

### Tags

In [2]:
tags = pd.read_csv("Tags.csv", engine='python')

tagsAndParents = tags[["Name", "Id"]]
tagsAndParents = tagsAndParents.rename(columns={"Id": "ParentId", "Name": "ParentTagName"})

tagsAndParents = pd.merge(tags, tagsAndParents, left_on="ParentTagId", right_on="ParentId")
tagsAndParents = tagsAndParents.drop(['ParentTagId', 'ParentId'], axis=1)

tagsAndParents.head()

,Id,Name,Slug,FullPath,Description,DatasetCount,CompetitionCount,KernelCount,ParentTagName
0,1115,websites,web-sites,subject > science and technology > internet > ...,"Websites, like this one, are collections of co...",250,0,209,internet
1,1220,search engines,search-engines,subject > science and technology > internet > ...,NaN,72,0,72,internet
2,12117,mobile and wireless,mobile-web,subject > science and technology > internet > ...,NaN,601,4,149,internet
3,16486,email and messaging,email-and-messaging,subject > science and technology > internet > ...,NaN,2129,1,129,internet
4,16489,online communities,online-communities,subject > science and technology > internet > ...,NaN,6829,3,1232,internet

### Datasets

In [3]:
datasets = pd.read_csv("Datasets.csv", engine='python')
datasets.head()

,Id,CreatorUserId,OwnerUserId,OwnerOrganizationId,CurrentDatasetVersionId,CurrentDatasourceVersionId,ForumId,Type,CreationDate,LastActivityDate,TotalViews,TotalDownloads,TotalVotes,TotalKernels
0,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,556331,77206,948,439
1,19,1,NaN,7.0,420.0,420.0,997,2,01/12/2016 00:33:31,02/06/2018,1350146,344390,3170,5986
2,26,553913,553913.0,NaN,793501.0,815299.0,1110,2,03/08/2016 22:41:02,02/05/2018,72166,9977,271,143
3,28,1132983,NaN,223.0,3144.0,3144.0,1116,2,03/10/2016 04:37:43,02/06/2018,165689,18573,319,195
4,53,627861,NaN,621.0,102.0,102.0,1318,2,06/03/2016 00:27:28,02/04/2018,52292,5045,92,155

In [4]:
datasetTags = pd.read_csv("DatasetTags.csv", engine='python')
datasetTags.head()

     Id  DatasetId  TagId
0  1879       2234   1115
1  2182       2482   1115
2  2408       2700   1115
3  3756       8095   1115
4  5942      22268   1115

In [5]:
datasetsAndTags = pd.merge(datasetTags[["DatasetId", "TagId"]], tagsAndParents, left_on="TagId", right_on="Id")
datasetsAndTags = datasetsAndTags.drop(['Id', 'TagId'], axis=1)

datasetsAndTags = pd.merge(datasets, datasetsAndTags, left_on="Id", right_on="DatasetId")
datasetsAndTags = datasetsAndTags.drop(['DatasetId'], axis=1)

datasetsAndTags.head()

,Id,CreatorUserId,OwnerUserId,OwnerOrganizationId,CurrentDatasetVersionId,CurrentDatasourceVersionId,ForumId,Type,CreationDate,LastActivityDate,...,TotalVotes,TotalKernels,Name,Slug,FullPath,Description,DatasetCount,CompetitionCount,KernelCount,ParentTagName
0,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,...,948,439,health,health,subject > health and fitness > health,Consider the health tag your data science gym....,7337,5,7470,health and fitness
1,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,...,948,439,linguistics,linguistics,subject > people and society > social science ...,The linguistics tag contains datasets and kern...,670,8,165,social science
2,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,...,948,439,internet,internet,subject > science and technology > internet,An interconnected network of tubes that connec...,10715,18,2012,science and technology
3,17,993,NaN,3.0,742210.0,762847.0,989,2,01/07/2016 00:38:08,02/06/2018,...,948,439,aviation,aviation,subject > science and technology > transportat...,"When you think of aviation, are you filled wit...",151,0,42,transportation
4,19,1,NaN,7.0,420.0,420.0,997,2,01/12/2016 00:33:31,02/06/2018,...,3170,5986,biology,biology,subject > earth and nature > biology,Explore datasets and kernels about gene expres...,5506,10,4507,earth and nature

In [6]:
datasetTagAndValue = datasetsAndTags.groupby(['Name', 'ParentTagName'])['Name'].count()
datasetTagAndValue

Name                                  ParentTagName
IPython                               packages             40
PIL                                   packages              9
RColorBrewer                          packages              1
Two Sigma x Kaggle Finance Data Repo  initiatives         256
accelerators                          computer science      9
                                                         ...
websites                              internet            231
word2vec skip-gram                    architecture          1
xgboost                               packages             61
yolo                                  architecture          1
yolov5                                architecture          2
Name: Name, Length: 354, dtype: int64

In [7]:
datasetTagAndValue.to_csv('DatasetTagAndValue.csv')

### Competitions

In [8]:
competitions = pd.read_csv("Competitions.csv", engine='python')
competitions.head()

,Id,Slug,Title,Subtitle,HostSegmentTitle,ForumId,OrganizationId,CompetitionTypeId,HostName,EnabledDate,...,EnableSubmissionModelHashes,EnableSubmissionModelAttachments,RewardType,RewardQuantity,NumPrizes,UserRankMultiplier,CanQualifyTiers,TotalTeams,TotalCompetitors,TotalSubmissions
0,2408,Eurovision2010,Forecast Eurovision Voting,This competition requires contestants to forec...,Featured,2.0,NaN,1,NaN,04/07/2010 07:57:43,...,False,False,USD,1000.0,1,1.0,False,22,25,22
1,2435,hivprogression,Predict HIV Progression,This contest requires competitors to predict t...,Featured,1.0,NaN,1,NaN,04/27/2010 21:29:09,...,False,False,USD,500.0,1,1.0,True,107,116,855
2,2438,worldcup2010,World Cup 2010 - Take on the Quants,Quants at Goldman Sachs and JP Morgan have mod...,Featured,NaN,NaN,1,NaN,06/03/2010 08:08:08,...,False,False,USD,100.0,1,0.5,False,0,0,0
3,2439,informs2010,INFORMS Data Mining Contest 2010,The goal of this contest is to predict short t...,Featured,4.0,NaN,1,NaN,06/21/2010 21:53:25,...,False,False,USD,0.0,1,1.0,True,145,153,1483
4,2442,worldcupconf,World Cup 2010 - Confidence Challenge,The Confidence Challenge requires competitors ...,Featured,3.0,NaN,1,NaN,06/03/2010 08:08:08,...,False,False,USD,100.0,1,0.5,False,63,64,63

In [9]:
competitionTags = pd.read_csv("CompetitionTags.csv", engine='python')
competitionTags.head()

    Id  CompetitionId  TagId
0  126           3486  14102
1  336           3526  12116
2  335           3526  14101
3  334           3526  14104
4  362           3706   2606

In [10]:
competitionsAndTags = pd.merge(competitionTags[["CompetitionId", "TagId"]], tagsAndParents, left_on="TagId", right_on="Id")
competitionsAndTags = competitionsAndTags.drop(['Id', 'TagId'], axis=1)

competitionsAndTags = pd.merge(competitions, competitionsAndTags, left_on="Id", right_on="CompetitionId")
competitionsAndTags = competitionsAndTags.drop(['CompetitionId'], axis=1)

competitionsAndTags.head()

,Id,Slug_x,Title,Subtitle,HostSegmentTitle,ForumId,OrganizationId,CompetitionTypeId,HostName,EnabledDate,...,TotalCompetitors,TotalSubmissions,Name,Slug_y,FullPath,Description,DatasetCount,CompetitionCount,KernelCount,ParentTagName
0,3486,facial-keypoints-detection,Facial Keypoints Detection,Detect the location of keypoints on face images,Getting Started,268.0,4.0,1,University of Montreal,05/07/2013 14:24:56,...,208,1220,image,image-data,data type > image,NaN,4665,140,4769,data type
1,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,internet,internet,subject > science and technology > internet,An interconnected network of tubes that connec...,10715,18,2012,science and technology
2,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,tabular,tabular-data,data type > tabular,NaN,5322,1800,4580,data type
3,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,text,text-data,data type > text,NaN,3462,49,3173,data type
4,3706,march-machine-learning-mania-2014,March Machine Learning Mania,Tip off college basketball by predicting the 2...,Featured,362.0,NaN,1,Kaggle,01/07/2014 14:46:41,...,337,434,basketball,basketball,subject > health and fitness > exercise > spor...,Basketball is one of the world's most popular ...,1014,17,628,sports

In [11]:
competitionTagAndValue = competitionsAndTags.groupby(['Name', 'ParentTagName'])['Name'].count()
competitionTagAndValue

Name                     ParentTagName
adversarial learning     technique                  4
agriculture              environment                2
animals                  earth and nature          13
art                      arts and entertainment     1
artificial intelligence  computer science           2
                                                   ..
transportation           science and technology     1
video data               data type                  4
video games              games                      5
water bodies             environment                3
weather and climate      environment                1
Name: Name, Length: 105, dtype: int64

In [12]:
competitionTagAndValue.to_csv('CompetitionTagAndValue.csv')