In [1]:
import pandas as pd

### Tags

In [2]:
tags = pd.read_csv("Tags.csv", engine='python')

tagsAndParents = tags[["Name", "Id"]]
tagsAndParents = tagsAndParents.rename(columns={"Id": "ParentId", "Name": "ParentTagName"})

tagsAndParents = pd.merge(tags, tagsAndParents, left_on="ParentTagId", right_on="ParentId")
tagsAndParents = tagsAndParents.drop(['ParentTagId', 'ParentId'], axis=1)

tagsAndParents.head()

,Id,Name,Slug,FullPath,Description,DatasetCount,CompetitionCount,KernelCount,ParentTagName
0,1115,websites,web-sites,subject > science and technology > internet > ...,"Websites, like this one, are collections of co...",262,0,214,internet
1,1220,search engines,search-engines,subject > science and technology > internet > ...,NaN,76,0,74,internet
2,12117,mobile and wireless,mobile-web,subject > science and technology > internet > ...,NaN,620,4,150,internet
3,16486,email and messaging,email-and-messaging,subject > science and technology > internet > ...,NaN,2203,1,130,internet
4,16489,online communities,online-communities,subject > science and technology > internet > ...,NaN,7019,3,1232,internet

### Competitions

In [3]:
competitions = pd.read_csv("Competitions.csv", engine='python')
competitions.head()

,Id,Slug,Title,Subtitle,HostSegmentTitle,ForumId,OrganizationId,CompetitionTypeId,HostName,EnabledDate,...,EnableSubmissionModelHashes,EnableSubmissionModelAttachments,RewardType,RewardQuantity,NumPrizes,UserRankMultiplier,CanQualifyTiers,TotalTeams,TotalCompetitors,TotalSubmissions
0,2408,Eurovision2010,Forecast Eurovision Voting,This competition requires contestants to forec...,Featured,2.0,NaN,1,NaN,04/07/2010 07:57:43,...,False,False,USD,1000.0,1,1.0,False,22,25,22
1,2435,hivprogression,Predict HIV Progression,This contest requires competitors to predict t...,Featured,1.0,NaN,1,NaN,04/27/2010 21:29:09,...,False,False,USD,500.0,1,1.0,True,107,116,855
2,2438,worldcup2010,World Cup 2010 - Take on the Quants,Quants at Goldman Sachs and JP Morgan have mod...,Featured,NaN,NaN,1,NaN,06/03/2010 08:08:08,...,False,False,USD,100.0,1,0.5,False,0,0,0
3,2439,informs2010,INFORMS Data Mining Contest 2010,The goal of this contest is to predict short t...,Featured,4.0,NaN,1,NaN,06/21/2010 21:53:25,...,False,False,USD,0.0,1,1.0,True,145,153,1483
4,2442,worldcupconf,World Cup 2010 - Confidence Challenge,The Confidence Challenge requires competitors ...,Featured,3.0,NaN,1,NaN,06/03/2010 08:08:08,...,False,False,USD,100.0,1,0.5,False,63,64,63

In [4]:
competitionTags = pd.read_csv("CompetitionTags.csv", engine='python')
competitionTags.head()

    Id  CompetitionId  TagId
0  126           3486  14102
1  336           3526  12116
2  335           3526  14101
3  334           3526  14104
4  362           3706   2606

In [5]:
competitionsAndTags = pd.merge(competitionTags[["CompetitionId", "TagId"]], tagsAndParents, left_on="TagId", right_on="Id")
competitionsAndTags = competitionsAndTags.drop(['Id', 'TagId'], axis=1)

competitionsAndTags = pd.merge(competitions, competitionsAndTags, left_on="Id", right_on="CompetitionId")
competitionsAndTags = competitionsAndTags.drop(['CompetitionId'], axis=1)

competitionsAndTags.head()

,Id,Slug_x,Title,Subtitle,HostSegmentTitle,ForumId,OrganizationId,CompetitionTypeId,HostName,EnabledDate,...,TotalCompetitors,TotalSubmissions,Name,Slug_y,FullPath,Description,DatasetCount,CompetitionCount,KernelCount,ParentTagName
0,3486,facial-keypoints-detection,Facial Keypoints Detection,Detect the location of keypoints on face images,Getting Started,268.0,4.0,1,University of Montreal,05/07/2013 14:24:56,...,208,1220,image,image-data,data type > image,NaN,4817,151,4844,data type
1,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,internet,internet,subject > science and technology > internet,An interconnected network of tubes that connec...,10989,18,2069,science and technology
2,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,tabular,tabular-data,data type > tabular,NaN,5625,2517,4760,data type
3,3526,stumbleupon,StumbleUpon Evergreen Classification Challenge,Build a classifier to categorize webpages as e...,Featured,292.0,NaN,1,StumbleUpon,08/16/2013 20:12:24,...,624,7486,text,text-data,data type > text,NaN,3604,53,3203,data type
4,3706,march-machine-learning-mania-2014,March Machine Learning Mania,Tip off college basketball by predicting the 2...,Featured,362.0,NaN,1,Kaggle,01/07/2014 14:46:41,...,337,434,basketball,basketball,subject > health and fitness > exercise > spor...,Basketball is one of the world's most popular ...,1059,17,630,sports

In [6]:
competitionTagAndValue = competitionsAndTags.groupby(['Name', 'ParentTagName'])['Name'].count()

In [7]:
competitionTagAndValue.to_csv('CompetitionTagAndValue.csv')